[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Ff]onts/
UserSettings/

.vscode/
.idea/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs

*.pidb
*.booproj
*.svd

sysinfo.txt

.DS_Store
Thumbs.db
\n+# Visual Studio
.vs/
*.suo
